body{
    background-color: rgb(202, 253, 253);
    margin: 0;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 65px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

footer{
    display: flex;
    background-color: black;
    opacity: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
}

.left-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.left-header h1{
    color: whitesmoke;
}

#hueco{
    width: 5%;
    background-color: rgb(202, 253, 253);
}

.right-header{
    display: flex;
    align-items: center;
    width: 70%;
}

.right-header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.right-header nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    margin: 5%;
    max-width: 130px;
}

.right-header nav a:hover{
    border: 4px solid rgb(62, 166, 166);
}

#form:hover{
    color: rgb(62, 166, 166);
    border: none;
}

.right-header nav a img{
    width: 100%;
    height: auto;
    max-height: 65px;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 110px 20px 110px 20px;
    padding: 30px;
    border: 2px solid rgb(62, 166, 166);
    border-radius: 20px;
    margin-left: 17.5%;
    justify-content: space-around;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    align-items: center;
    left: 0;
    background-color: black;
    opacity: 80%;
    color: whitesmoke;
    position: fixed;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.left-container p{
    text-align: center;
}

.left-container ul{
    margin-top: 0;
    padding-right: 5px;
}

.right-container div{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
}

.right-container .intro p{
    text-align: justify;
    width: 90%;
}

.right-container img{
    max-width: 400px;
    height: auto;
    border-radius: 20px;
}

.intro{
    background-color: rgb(139, 185, 228);
    width: 100%;
    padding-bottom: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.right1{
    background-color: rgb(165, 209, 195);
    width: 100%;
}

.right2{
    background-color: rgb(62, 166, 166);
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right2 li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 90%;
}

.elemento1{
    background-color: rgb(75, 120, 255);
    width: 90%;
}

.elemento2{
    background-color: rgb(139, 185, 228);
}

.container p{
    display: flex;
    flex-direction: column;
}

#body-tortilla{
    background-color: rgb(254, 251, 183);
}

#body-tortilla #hueco{
    background-color: rgb(254, 251, 183);
}

#body-tortilla header nav a:hover{
    border: 4px solid rgb(193, 146, 53);
}

#body-tortilla #form:hover{
    color: rgb(193, 146, 53);
    border: none;
}

#container-tortilla{
    border: 2px solid rgb(193, 146, 53);
}

#intro-tortilla{
    background-color: rgb(219, 211, 103);
}

#ingredientes-tortilla{
    background-color: rgb(193, 146, 53);
    color: whitesmoke;
}

#prep-tortilla{
    background-color: goldenrod;
}

#prep-tortilla .elemento1{
    background-color: rgb(252, 174, 100);
}

#prep-tortilla .elemento2{
    background-color: rgb(255, 248, 143);
}

#container-form{
    margin-left: 25%;
    margin-right: 10%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: rgb(62, 166, 166);
    padding-bottom: 15px;
    border-radius: 20px;
}

form input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding-left: 10px;
}

form textarea{
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding-left: 10px;
}

#submit:hover{
    background-color: rgb(75, 120, 255);
    color: whitesmoke;
}

#submit:active{
    background-color: rgb(96, 75, 255);
    color: whitesmoke;
}

footer h2{
    color: whitesmoke;
}



@media(max-width: 750px){

    .container{
        margin: 95px 20px 95px 20px;
    }

    .left-container{
        display: none;
    }

    .right-container img{
        width: 90%;
        height: auto;
    }

    #container-form{
        margin-left: 10%;
        margin-right: 10%;
    }

}